body {
    font-family: 'PT Sans', sans-serif;
    margin: auto;
    background: #B1C4CE;
    padding: 10px;
}

nav {
    font-size: 25px;
    font-weight: bold;
}

nav #menu {
    display: none;
}

a {
    text-decoration: none;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

a:visited {
    color: currentColor;
}

input {
    height: 30px;
    width: 80%;
}

textarea {
    height: 100px;
    width: 80%;
}

li {
    font-size: 25px;
    padding: 8px;
}

.botaoContato {
    width: 100px;
}

.bannerTitulo {
    background-image: url(img/banner_azul.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    border-radius: 15px;
    border: 8px solid;
    color: #1C3D7D;
}

.fundoLaranja {
    background-color: #ff712d;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: larger;
}

.fundoVerde {
    background-color: #00995f;
}

.descricao {
    background-color: #C4ACB8;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    font-size: 25px;
}

.titulo {
    color: #1C3D7D;
    text-align: center;
}

.container {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card {
    color: black;
    text-align: center;
    width: 250px;
    height: 350px;
    margin: 5%;
    border-radius: 15px;
    overflow: hidden;
}

.botaolaranja {
    background: #FB742C;
    border-radius: 10px;
    border-color: black;
    height: 50px;
    width: 80%;
    font-size: medium;
}

.botaolaranja:hover {
    opacity: 0.5;
}

.botaobranco {
    background: white;
    border-radius: 10px;
    border-color: black;
    height: 50px;
    width: 80%;
    font-size: medium;
}

.botaobranco:hover {
    opacity: 0.5;
}

.caixaform {
    background-color: darksalmon;
    width: auto;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    grid-template-rows: 100px 1fr 1fr;
    gap: 5px;
    align-content: center;
    justify-items: center
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 120px 1fr 1fr;
    gap: 5px;
    align-content: center;
    justify-items: center
}

.grid3 {
    display: grid;
    grid-template-columns: 100px 50px 1fr 50px;
    grid-template-rows: 70px 1fr 1fr 1fr;
    gap: 5px;
    align-content: center;
    justify-items: center
}

.divgrid {
    width: 400px;
    padding: 10px;
}

.item {
    width: auto;
    height: auto;
}

.imagemgrid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animation {
    animation: fadeInFadeOut 5s linear infinite;
    text-align: center;
}

@keyframes fadeInFadeOut {
    0% {
        scale: 1.2
    }

    50% {
        scale: 1.5
    }

    100% {
        scale: 1.2
    }
}

.imgResponsiva {
    width: 70%;
    padding: 10px;
}

.imgResponsivaCard {
    width: 100%;
    height: 150px;
}

.justificado {
    text-align: justify;
}

.texto {
    padding: 5%;
    font-size: x-large;
}

@media (max-width: 480px), (max-width: 320px) {
    nav {
        font-size: 14px;
    }

    li {
        font-size: 15px;
    }
}